@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');

* {
  font-family: 'Inter';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btn,
.btn-dark,
.btn-check:focus + .btn-dark,
.btn-dark:focus,
.btn-check:focus + .btn,
.btn:focus {
  border: none;
  box-shadow: none;
}

.btn-dark:hover {
  background: #212529;
}

.bg-primary,
.btn-light {
  letter-spacing: 0.7px;
}
