html {
  font-family: Inter, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(39, 39, 39);
}

main {
  max-width: 500px;
  margin: 0 auto;
}

section {
  margin-top: 100px;
  display: grid;
  place-items: center;
  border: 2px solid gray;
  padding: 20px 10px;
  background-color: white;
}

h1 {
  font-size: 2rem;
  color: white;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(39, 39, 39);
  color: white;
  cursor: pointer;
}
